.navbar-brand {
    height: 50px;
    padding: 0px 15px;
}
.logo_style{
    height: 35px;
    padding-left: 30px;
    margin-top: 4px;
}

/* Footer styling starts here */
.footer_menu{
    list-style: none;
    padding:0px;
    margin:0px;
}
.footer_menu li{
    display: inline-block;
    vertical-align: top;
    padding:6px 40px 6px 6px;
}
.footer_menu li +li{
    margin-left:7px;
}
.footer_menu li a{
    text-decoration: none;
    color:#231f20;
    transition: all ease 0.6s;
    display: block;
    font-size:16px;
    font-family: 'IBM-plex-sans-regular';
}
.footer_menu li a:hover{
    color:#231f20;
}
