<div [ngBusy]="busy">


       <!-- MASTHEAD_BEGIN -->
       <div id="ibm-masthead" role="banner" aria-label="IBM">
            <div id="ibm-mast-options">
              <ul role="toolbar" aria-labelledby="ibm-masthead">
                <li id="ibm-geo" role="presentation"> <a href="//www.ibm.com/planetwide/select/selector.html">United States</a></li>
              </ul>
            </div>
            <div id="ibm-universal-nav">
              <div id="ibm-home"><a href="//www.ibm.com/us-en/">IBM®</a></div>
              
              
            </div>
          </div>




          <!-- MASTHEAD_END -->
    <div id="ibm-content-wrapper">
            <div class="ibm-sitenav-menu-container">
              <div class="ibm-sitenav-menu-name ibm-border-green-core"><a href="index.html">Cloud Innovate</a></div>
              <div class="ibm-sitenav-menu-list">
                <ul role="menubar ibm-border-green-core">
                  <li class="ibm-small" role="presentation"> <a role="menuitem" href="advise.html">Advise on cloud adoption</a> </li>
                  <li class="ibm-small" role="presentation"> <a role="menuitem" href="migration.html">Migrate to cloud</a> </li>
                  <li class="ibm-small" role="presentation"> <a role="menuitem" href="modernize.html">Modernize for cloud</a> </li>
                  <li class="ibm-small" role="presentation"> <a role="menuitem" href="rationalization.html">Rationalize for cloud</a> </li>
                  <li class="ibm-small" role="presentation"> <a role="menuitem" href="build.html">Build on cloud</a> </li>
                  <li class="ibm-small" role="presentation"> <a role="menuitem" href="apps.html">AppOps on cloud</a> </li>
                  <li class="ibm-small" role="presentation"> <a role="menuitem" href="quick.html">Quick Links</a> </li>
                </ul>
              </div>
            </div>
            <header role="banner" aria-labelledby="ibm-pagetitle-h1">
	 
                    <div id="ibm-leadspace-head" class="ibm-background-green-core ibm-alternate-background ibm-resize" style="background: url(assets/CAS_Banner-01.jpg) center / cover no-repeat;">
                     <div id="ibm-leadspace-body" class="ibm-padding-top-r2 ibm-padding-bottom-r2">
                             <div id="ibm-content">
                     <div id="ibm-content-body" style="background: none;">
                     <div id="ibm-content-main" style="background: none;">
                                
                        <div class="ibm-columns">
                          <div class="ibm-col-6-4">
                            <h1 class="ibm-h1 ibm-bold ibm-textcolor-gray-80" >Cloud Innovate<br/> <span class="ibm-h2 ibm-light page-title">IBM Method for Cloud Transformation</span></h1>
                          <h2 class="ibm-h4 ibm-light ibm-textcolor-gray-80">The rapid evolution of technology is compelling clients and their industries to transform. Clients who embrace cloud, cognitive, social, mobile, 
                          IoT, blockchain, and other emerging technologies are innovating their business and process models. 
                          They’re finding new ways to enhance customer centricity, and harness their ecosystems for growth.</h2> 
                                        <p class="ibm-button-link ibm-padding-top-r1"><a class="ibm-btn-pri ibm-btn-green-30" href="https://ibm.box.com/s/g4ojvq5ld7r8fbwugovi6fbepudkeo01" target="blank" onclick="app.navigation.displayModuleByIntro(0);">Learn more</a></p>
                                        </div>
                        </div>
                                </div>
                                </div>
                                </div>
                                    
                      </div>
                    </div>
                    <!-- LEADSPACE_END_1 -->
                  </header>
            


                  <div data-widget="dyntabs" class="ibm-graphic-tabs ibm-graphic-tabs--colored" data-remembertab="false">
                        <!-- Tabs here: -->
                              <div class="ibm-tab-section">
                                  <ul class="ibm-tabs ibm-h3 ibm-center ibm-border-green-40 ibm-textcolor-white-core" role="tablist">
                                      <li style="background: url(assets/graphic/tabs_bg-01.jpg) center / cover no-repeat; min-height:130px; max-height:130px"><a aria-selected="true" role="tab" href="#tab1" aria-selected="true" class="padding-top-1" style="margin-top:25px;">Overview</a></li>
                                      <li style="background: url(assets/graphic/tabs_bg-02.jpg) center / cover no-repeat; min-height:130px; max-height:130px"><a role="tab" href="#tab2" style="margin-top:25px;">QuickStart</a></li>
                                      <li style="background: url(assets/graphic/tabs_bg-04.jpg) center / cover no-repeat; min-height:130px; max-height:130px"><a role="tab" href="#tab3" style="margin-top:25px;">End to End Method</a></li>
                                      <li style="background: url(assets/graphic/tabs_bg-03.jpg) center / cover no-repeat; min-height:130px; max-height:130px"><a role="tab" href="#tab4" style="margin-top:25px;">Solutioning and Delivery Guidance</a></li>
                                      <li style="background: url(assets/graphic/tabs_bg-05.jpg) center / cover no-repeat; min-height:130px; max-height:130px"><a role="tab" href="#tab8" style="margin-top:25px;">.</a></li>
                                  </ul>
                              </div>
                        <!-- Tabs content body with tab contents divs inside: -->
                                  <div class="ibm-container-body ibm-background-white-core ibm-padding-top-30">
                                      <div id="tab1" class="ibm-tabs-content" role="tabpanel" aria-hidden="false" style="display: block;">
                                      
                                  <div class="ibm-columns">
                                    <div class="ibm-col-6-6 ibm-col-medium-1-1">
                                      <h3 class="ibm-h1 ibm-center ibm-light ibm-textcolor-green-60">Our approach for cloud adoption</h3>
                                <p class="ibm-center ibm-light ibm-h4 ibm-textcolor-green-60"> Today’s CIOs need to leverage the power, speed, agility and cost advantages of public clouds. At the same time, they must preside over rapid transformation of their existing IT infrastructure 
                                and application landscapes. In order to rapidly move applications to public clouds, and modernize  current portfolios to exploit the capabilities of hybrid, multi-cloud landscapes, our clients need  outcomes which are proven, 
                                reliable and can be delivered repeatedly. Through applying what we have learned through hundreds of client engagements, IBM has  developed an end-to-end methodology: Cloud Innovate. 
                                The Cloud Innovate methodology incorporates  tools, technologies, accelerators and cognitive capabilities to deliver effective, efficient transformations in a way no competitor can match.</p> 
                                <div class="ibm-padding-top-1 ibm-padding-bottom-1 ibm-center"> <img src="assets/graphic/Cloud App graphic_Text Edit_HH-22.png" style="width:80% !important" alt="" class="ibm-resize" /> </div>
                                
                                        <p><strong>Multiple demand profiles are addressed via one method, one tool set, one process</strong> 
                                        <br>Powered by cognitive, the Cloud Innovate methodology provides a roadmap of the overall operating environment, identifying which applications can immediately be migrated, which can be migrated with additional development, and which applications are not suitable to shift to the cloud.</p>
                                        
                                        <p><strong>Cross IBM solution design and engagement model</strong> 
                                        <br>We are delivering the best of IBM by launching a cross-brand Solution Engineering Center of Excellence. This approach will ensure a virtual team of cloud unit and GBS experts who systematically reach out to the GTS solutioning teams and processes.</p>
                                      
                                           <p><strong>Typical client scenarios and composable capability patterns</strong></p>
                                           
                                              <p><strong>Client demand profiles derived from base ‘end to end method’</strong> 
                                        <br>Individual client demands and needs, when mapped with a base end-to-end method, help create defined client demand profiles. These profiles are aggregates of the integrated methods, 
                                        solution design and delivery guidelines, talent model and common technical services used to execute a client solution.</p>
                                        
                                        <p><strong>Cloud Innovate based on an end-to-end method for cloud adoption meeting specific client demands</strong></p>
                                        
                                       
                                        
                                                              
                                        
                                    </div>
                                                  
                                                  <div class="ibm-col-6-6 ibm-col-medium-1-1 ibm-padding-top-2">
                                      <h3 class="ibm-h2 ibm-center ibm-light ibm-textcolor-green-60">Client scenarios may be made of one or many Client Demand profiles</h3>
                                <div class="ibm-padding-top-1 ibm-padding-bottom-1 ibm-center"> <img src="assets/graphic/CloudShift Landing Page Graphics-01.png" style="width:70% !important" alt="" class="ibm-resize" /> </div>
                                
                                    </div>
                                                  
                                              <p>This methodology encapsulates the comprehensive path to portfolio modernization and innovation - adoption of an overarching operating model, assessment of portfolios enabled by tools and patterns that help decisions on target environments, 
                                              the retirement of applications, a roadmap for application migration and development and the execution of workload modernization. </p>
                                              
                                              <h3 class="ibm-h4 ibm-center ibm-textcolor-green-60">Need more information or need help progressing a cloud migration opportunity?
                                              <br>Reach out to our experts - just click the <strong>'Contact'</strong> tab in the upper right on individual client demand profile pages.</h3>
                                              <h3 class="ibm-h3 ibm-center ibm-textcolor-green-60">One Method, One Tool Set, One Process!</h3>
                                          
                                      
                                    </div>
                                              
                                              
                                              <div class="ibm-rule ibm-alternate-1 ibm-green-60"><hr></div>
                                            
                      
                      <h3 class="ibm-h4 ibm-center ibm-light ibm-textcolor-green-60 ibm-padding-top-2 ibm-padding-bottom-2">The Cloud Innovate Method is defined covering six of the Client demand profiles as of now.
                                                  <br>A click on each of the Client demand profiles below, will direct you to the details of that profile.</h3>
                                              
                          <div class="tabHex">
                              <div class="tabcell">
                                  <a href="advise.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-01.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="migration.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-02.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="modernize.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-03.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="rationalization.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-04.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="build.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-05.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="apps.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-06.svg"></a>
                              </div>
                          </div>
                                              
                      
                                              
                                </div>
                                          
                                          
                                          
                                      <div id="tab4" class="ibm-tabs-content" role="tabpanel" aria-hidden="true" style="display: none;">
                          
                                              <div class="ibm-columns">
                                    <div class="ibm-col-6-6 ibm-col-medium-1-1">
                                    <h3 class="ibm-h1 ibm-center ibm-light ibm-padding-bottom-1 ibm-textcolor-green-60">Standardized solution design leveraging IBM expertise in cloud deals</h3>
                                    <p>Cloud Application Migration Services (CAMS) Solution Design will be led by CAMS Solution Architect / CAMS Subject matter experts 
                                    (SMEs) who are part of the CAMS Solution Design Squad. These Architects / SMEs will work with the Hub-based Global Solutioning CoE for 
                                    consistency in solution design process, delegations and solution risk assessment.</p>
                                    
                                    <p>CAMS Solution Architect / CAMS SMEs will design the technical and delivery solution using Cloud Innovate and related standards. 
                                    They will bring on global expertise across business units of IBM, leveraging Proven Solution Patterns and best practices.</p>
                                    
                                    <div class="ibm-padding-bottom-2 ibm-center"> <img src="assets/graphic/CloudShift Landing Page Graphics-06.png" style="max-width:80% !important;"alt="" class="ibm-resize" /> </div>
                                    
                                    <p>Most of our solutions will need the best of IBM across brands and for this, we are launching a cross-brand Center of Excellence (CoE) 
                                    comprising of a team of experts from IBM GBS, Cloud Unit and IBM GTS.  The CAMS Solution Architects and SMEs will work closely with the 
                                    CoE to embed the best practices of IBM Cloud and IBM GTS into our solutions.</p>
                                    
                                     
                                <div class="ibm-padding-bottom-2 ibm-center"> <img src="assets/graphic/Cloud-App-graphic_Text-Edit_HH-new1.png" style="max-width:70% !important;"alt="" class="ibm-resize" /> </div>
                                
                                
                                      <h3 class="ibm-h3 ibm-center ibm-light ibm-textcolor-green-60">A global CAMS factory model will enable the delivery of end to end solution in CAMS deals.</h3>
                                      <div class="ibm-padding-top-1 ibm-padding-bottom-2 ibm-center"> <img src="assets/graphic/CloudShift Landing Page Graphics-05.png" style="max-width:60% !important;"alt="" class="ibm-resize" /> </div>
                                
                                      <p>The Global Factory Delivery model delivers an integrated set of end-to-end client service capability aligned to the client demand profiles by combining a set of profile-specific capabilities 
                                      with a set of common Hybrid cloud foundational services that are aligned to the Cloud Innovate Method. This delivery model is augmented with a multi-channel Practitioner Support Network 
                                      (PSN) that provides support to client teams on critical technical and project delivery issues bringing in expertise from across IBM</p>
                                      
                                      
                                       <p></p>
                                
                                <h3 class="ibm-h3 ibm-center ibm-padding-top-1"><a class="ibm-external-link ibm-inlinelink ibm-textcolor-green-60 ibm-icon-after" href="https://ibm.box.com/s/b7m4yumgqtmg3sv4zhbu9g546iti0l38" target="blank" title="">Pre sales material</a></h3>
                                    </div>
                                    
                            
                                  </div>
                                      
                                      
                                                              <div class="ibm-rule ibm-alternate-1 ibm-green-60"><hr></div>
                                                              <h3 class="ibm-h4 ibm-center ibm-light ibm-textcolor-green-60 ibm-padding-top-2 ibm-padding-bottom-2">The Cloud Innovate Method is defined covering six of the Client demand profiles as of now.
                                                  <br>A click on each of the Client demand profiles below, will direct you to the details of that profile.</h3>
                                              <div class="tabHex">
                              <div class="tabcell">
                                  <a href="advise.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-01.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="migration.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-02.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="modernize.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-03.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="rationalization.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-04.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="build.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-05.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="apps.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-06.svg"></a>
                              </div>
                          </div>
                                      
                                      
                                      
                                      </div>
                                      
                                      
                                      
                                                  <div id="tab3" class="ibm-tabs-content" role="tabpanel" aria-hidden="true" style="display: none;">
                                                  <h3 class="ibm-h4 ibm-center ibm-light ibm-textcolor-green-60 ibm-padding-bottom-2">The Cloud Innovate Method is defined covering six of the Client demand profiles as of now.
                                                  <br>A click on each of the Client demand profiles below, will direct you to the details of that profile.</h3>
                               <div class="tabHex">
                              <div class="tabcell">
                                  <a href="advise.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-01.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="migration.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-02.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="modernize.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-03.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="rationalization.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-04.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="build.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-05.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="apps.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-06.svg"></a>
                              </div>
                          </div>
                                </div>	
                                      
                                          <div id="tab2" class="ibm-tabs-content" role="tabpanel" aria-hidden="true" style="display: none;">
                                          
                                          
                                                       <div class="ibm-columns">
                                    <div class="ibm-col-6-6 ibm-col-medium-1-1">
                                      <h3 class="ibm-h1 ibm-center ibm-light ibm-textcolor-green-60">Client Demand Profiles derived from Base End to End Method</h3>
                                <p class="ibm-center ibm-light ibm-h4 ibm-textcolor-green-60">Individual client demands and needs, when mapped with a base end-to-end method, help create defined client
                                <br/>demand profiles which are aggregates of the integrated methods, solution design and delivery guidelines, talent
                                <br/>model, and common technical services used to execute a client solution.</p> 
                                <div class="ibm-padding-top-2 ibm-padding-bottom-2 ibm-center"> <img src="assets/graphic/Cloud App graphic_Text Edit_HH-20.png" style="max-width:80% !important;"alt="" class="ibm-resize" /> </div>
                                
                                    </div>
                                                  
                                                  
                                                  <div class="ibm-col-6-6 ibm-col-medium-1-1 ibm-padding-top-2">
                                      <h3 class="ibm-h2 ibm-center ibm-light ibm-textcolor-green-60">Cloud Innovate based on an End-to-End Method for Cloud adoption meeting specific Client demands </h3>
                                <div class="ibm-padding-top-1 ibm-padding-bottom-1 ibm-center"> <img src="assets/graphic/CloudShift Landing Page Graphics-03.png" style="width:70% !important" alt="" class="ibm-resize" /> </div>
                                
                                    </div>
                                                  
                                                  
                                                  <div class="ibm-col-6-6 ibm-col-medium-1-1 ibm-padding-top-2">
                                      <h3 class="ibm-h2 ibm-center ibm-light ibm-textcolor-green-60">Typical Client Scenarios and Composable Capability Patterns</h3>
                                <div class="ibm-padding-top-1 ibm-padding-bottom-1 ibm-center"> <img src="assets/graphic/CloudShift Landing Page Graphics-02.png" style="width:70% !important" alt="" class="ibm-resize" /> </div>
                                
                                    </div>
                                                  
                                                  
                                                  
                                                  
                                  </div>
                                                                      <div class="ibm-rule ibm-alternate-1 ibm-green-60"><hr></div>
                                                                      
                                                                      <h3 class="ibm-h4 ibm-center ibm-light ibm-textcolor-green-60 ibm-padding-top-2 ibm-padding-bottom-2">The Cloud Innovate Method is defined covering six of the Client demand profiles as of now.
                                                  <br>A click on each of the Client demand profiles below, will direct you to the details of that profile.</h3>
                                              
                                                              <div class="tabHex">
                              <div class="tabcell">
                                  <a href="advise.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-01.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="migration.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-02.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="modernize.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-03.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="rationalization.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-04.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="build.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-05.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="apps.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-06.svg"></a>
                              </div>
                          </div>
                                </div>
                      
                      
                                          <div id="tab" class="ibm-tabs-content" role="tabpanel" aria-hidden="true" style="display: none;">
                      
                                  <div class="ibm-columns">
                                    <div class="ibm-col-6-6 ibm-col-medium-1-1">
                                      <h2 class="ibm-h2">Modernization to cloud</h2>
                                      <p><strong>How is Cloud Innovate Migrate to cloud different than server replication, scripting, templates and manual migration?</strong><br>
                                                      <p>Cloud Innovate -> Migrate to cloud is a predictable migration solution that automates the application information collection, identifies the application dependency and migrate of application workload and their associated metadata/configuration into cloud. Step-by-step migration methods offers automated migration of workloads without any pre-processing on the source environment or post-processing on the target cloud to minimize business disruption.</p>
                                                      
                                                      <p><strong>What is the basic difference between migrating application workloads and servers? Aren't they the same?</strong><br>
                                                      <p>Application installed in servers containing the OS, the applications and platforms (e.g. application servers, databases) associated with the workload.  Application Workloads typically include the entire suite (servers), data storage (data may be stored on attached and/or networked storage) and the network and system configurations associated with the workload. Our Migrate to cloud method ensures application entire workload can be migrated seamlessly with minimum business intervention.</p>
                                                      
                                                      <p><strong>Does Cloud Innovate Migrate to cloud supports migrate to SaaS?</strong><br>
                                                      <p>Yes – Our analytical tools supports to identify the application source pattern to create the right target cloud pattern and execute the migrate process according to the best suitable pattern to avoid business disruption while taking vantage of cloud.</p>
                                                      
                                                      <p><strong>Does Cloud Innovate Migrate to cloud require a proprietary environment to import application information into prior to migration to cloud platform ?</strong><br>
                                                      <p>It does need a transient environment to support the conversion before application workloads are deployed into the target cloud platform. This is only required if application workload needs conversion e.g. platform upgrade or remediation etc. Our migrate toolset is capable of hosted either in client environment or target cloud platform to pull the application binaries, data accordingly to network connection used between source and target cloud connection</p>
                                                      
                                                      <p><strong>What does it mean to migrate a server live?</strong><br>
                                                      <p>It means that production servers can be migrated without having to take them down out of production during the migration. Once the migration is complete and the workload is configured and tested on the target cloud environment, the client can set up a change window to cut-over to the new VM deployed in the target data cloud.</p>
                                                      
                                                      <p><strong>What Platforms Does Migrate to cloud support?</strong><br>
                                                      <p>It supports migration from physical, virtual and cloud platforms to cloud platforms. Supported OS, hypervisors and Clouds are:<br>
                                                      and Source OS – Windows 2003/2008/2012, Linux, AIX<br>
                                                      and Target Clouds – IBM Bluemix, AWS VPC, VMWare vCloud, Azure or private cloud platform.</p>
                                                      
                                                      <p><strong>Do I need to install anything discover application information ? What about agents?</strong><br>
                                                      <p>Our discovery toolset is an agentless technology, so you will not need to install agents. We can also leverage existing client discovery tool and repository to pull the data out and load into our SCOPE analytics to understand application source environment and it's common pattern to derive the appropriate migration path.Our discovery toolset is an agentless technology, so you will not need to install agents. We can also leverage existing client discovery tool and repository to pull the data out and load into our SCOPE analytics to understand application source environment and it's common pattern to derive the appropriate migration path.</p>
                                                      
                                                      <p><strong>How it's different than other Cloud migration service ?</strong><br>
                                                      <p>Yes, our migration capabilities are more geared with enterprise application assessment, creating the right migration roadmap to minimise client risk. Our large toolset supporting migration assessment, planning and execution is end-2-end automated to get a most predictable outcome in a short period of time. Migrating the workload is no-brainier today, we differentiate ourself in migrating the right workload at the right cloud platform to take the vantage multi-cloud environment of a hybrid cloud solution for our client. We make sure our client leverages our migration roadmap to plan their application portfolio appropriately to spend their budget most wisely.</p>
                                                      
                                      
                                    </div>
                                  </div>
                      
                                                                      <div class="ibm-rule ibm-alternate-1 ibm-green-60"><hr></div>
                                                                      
                                                                      <h3 class="ibm-h4 ibm-center ibm-light ibm-textcolor-green-60 ibm-padding-top-2 ibm-padding-bottom-2">The Cloud Innovate Method is defined covering six of the Client demand profiles as of now.
                                                  <br>A click on each of the Client demand profiles below, will direct you to the details of that profile.</h3>
                                              
                                                               <div class="tabHex">
                              <div class="tabcell">
                                  <a href="advise.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-01.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="migration.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-02.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="modernize.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-03.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="rationalization.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-04.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="build.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-05.svg"></a>
                              </div>
                              <div class="tabcell">
                                  <a href="apps.html"><img class="ibm-padding-top-1 ibm-padding-bottom-2" alt="" src="assets/graphic/Cloudshift_icons-06.svg"></a>
                              </div>
                          </div>
                          
                                </div>		
                      
                                  </div>
                                </div>


                                <p class="ibm-ind-link ibm-nospacing ibm-icononly ibm-btt-auto ibm-hidden-small">
                                        <a tabindex="0" href="#top" class="ibm-nospacing ibm-chevron-up-link"></a>
                                      </p>


                                      <div id="ibm-contact-footer" class="ibm-band ibm-alternate-background ibm-nospacing ibm-background-green-90">
                                            <div class="ibm-columns ibm-padding-top-1 ibm-padding-bottom-1">                          
                                            </div>
                                          </div>

                        <!-- CONTACT MODULE START -->
        <div id="ibm-contact-module">
                <h2 class="ibm-bold ibm-textcolor-green-60">Cloud Practitioner Support</h2>
                <h3 class="ibm-bold ibm-textcolor-green-60">Cloud Practitioner Support Network</h3>
                <ul class="ibm-live-assistance-list">
                  <li>
                    <p class="ibm-external-link ibm-textcolor-green-60"><a href="http://cloudpsn.mybluemix.net/" target="blank">PSN Search</a></p>
                  </li>
                </ul>
            </div>
        <!-- CONTACT MODULE END -->

          <!-- FOOTER_BEGIN -->
    <div id="ibm-footer-module"> </div>
    <footer role="contentinfo" aria-label="IBM">
      <div id="ibm-footer">
        <h2 class="ibm-access">Footer links
</h2>
        <ul>
          <li><a href="//www.ibm.com/contact/us/en/">Contact</a></li>
          <li><a href="//www.ibm.com/privacy/us/en/">Privacy</a></li>
          <li><a href="//www.ibm.com/legal/us/en/">Terms of use</a></li>
          <li><a href="//www.ibm.com/accessibility/us/en/">Accessibility</a></li>
          <li><a href="#">Cookie Preference</a></li>
        </ul>
      </div>
    </footer>
    <!-- FOOTER_END -->





    